<!DOCTYPE html>
<html lang="en" lang="en">
    <head>
        <link rel="icon" href="public/uploads/avatar-1692572078209-427297268.png" type="image/png" sizes="16x16">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome= true"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login </title>
        <link rel="stylesheet" href="public/signup.css">   
    </head>
    <body>
            <header>
            <dev class="logo-container">
            <img href="/" class="logo" src="https://cdn.discordapp.com/attachments/1142466081064243300/1142811423425175672/removal.ai_7e641675-cceb-4fc4-a6fc-c175263e36f2-png-transparent-letter-c-art-logo-c-letter-letter-c-blue-angle-english_1.png " alt="logo">
            <span href="/" class="logo-text">Clux Paste</span>
            </dev>
            <nav>
                <ul class="nav-links">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/register">Sign UP</a></li>
                </ul>
                
            </nav>
            </header>   
            <div class="main-wrapper">
<div class="box">
    <form method="post" action="/login">
        <h2>Login</h2>
        <div class="inputBox">
        <input type="text" name="username" required>
        <span>Username</span>
        <i></i>
</div>
<div class="inputBox">
    <input type="password" name="password" required>
    <span>Password</span>
    <i></i>
    </div>
    <div class="links">
        <a href="#">Forget Password</a>
        <a href="/register">Signup</a>
        </div>
        <input type="submit" value="Login">
    </form>
</div>

</div>

    </body>
</html>
