:root {
    --contexify-item-color: rgba(0, 0, 0, 0.87) !important;
    --contexify-activeItem-color: rgba(0, 0, 0, 0.87) !important;
    --contexify-activeArrow-color: rgba(0, 0, 0, 0.87) !important;
    --contexify-activeItem-bgColor: rgba(118, 1, 211, 0.04) !important;
    --contexify-zIndex: 666;
    --contexify-menu-minWidth: 220px !important;
    --contexify-menu-padding: 6px !important;
    --contexify-menu-radius: 6px !important;
    --contexify-menu-bgColor: #fff !important;
    --contexify-menu-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1) !important, 2px 4px 4px rgba(0, 0, 0, 0.1) !important, 3px 6px 6px rgba(0, 0, 0, 0.1) !important;
    --contexify-separator-color: rgba(0, 0, 0, 0.2) !important;
    --primary: #151515 !important;
    --primary-hover: #202020 !important;
    --font: "Sono", sans-serif !important;
    --background: #151515 !important;
    --background-textarea: #101010 !important;
    --textarea-border: #0033ff !important;
    --text-color: #ffffff !important;
    --text-color-hover: #444444 !important;
}

body {
  background-color: red;
  
}

.password-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  /* spacing between elements */
    padding: 50px;
    background-color: var(--background-textarea);
    border-radius: 10px;
    border: 2px solid #0033ff;
    width: 400px;
    margin: 50px auto;
}

.password-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.password-form-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #0033ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.password-form-container button:hover {
    background-color: var(--primary-hover);
}
